lua/config/lsp/schema/Microsoft.Build.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified">

  <!-- =================== IMPORT COMMON SCHEMA =========================== -->
  <xs:include schemaLocation="MSBuild/Microsoft.Build.CommonTypes.xsd" />
  <xs:include schemaLocation="MSBuild/Microsoft.NET.Sdk.Publish.xsd" />

  <!-- ========= ADD CUSTOM ITEMS, PROPERTIES, AND TASKS BELOW ======= -->
  <!-- Note that these will be in the msbuild namespace. A future version of
        msbuild may require that custom itemtypes, properties, and tasks be in a
        custom namespace, but currently msbuild only supports the msbuild namespace. -->

  <!-- example custom itemtype with particular meta-data required-->
  <!--<xs:element
  name="MyItem" substitutionGroup="Item">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="SimpleItemType">
                    <xs:sequence maxOccurs="1">
                        <xs:choice>
                            <xs:element name="MyMetaData" type="xs:string"/>
                        </xs:choice>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>-->

  <!-- Example custom itemtype with NO meta-data -->
  <!--<xs:element
  name="MySimpleItem" type="SimpleItemType" substitutionGroup="Item"/>-->

  <!-- Example custom itemtype with ANY meta-data -->
  <!--<xs:element
  name="MyFlexibleItem" type="GenericItemType" substitutionGroup="Item"/>-->

  <!-- example custom property that allows string content only-->
  <!--<xs:element
  name="MySimpleProperty" type="StringPropertyType" substitutionGroup="Property"/>-->

  <!-- example custom task with single required parameter-->
  <!--<xs:element
  name="MyTask" substitutionGroup="Task">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="TaskType">
                    <xs:attribute name="MyParameter" type="xs:boolean" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>-->

</xs:schema>
